### Linear regression and selecting the better model

In [1]:
import pandas as pd
from statsmodels.formula.api import *

In [13]:
df = pd.read_csv("../preprocessed_data/df_preprocessed.csv", usecols=['total_amount','trip_distance','RatecodeID'])
df.tail()

          trip_distance  RatecodeID  total_amount
37379083           0.72         1.0          9.30
37379084           1.47         1.0         13.80
37379085           0.97         1.0         10.56
37379086           3.30         1.0         17.76
37379087           1.55         1.0         10.80

In [7]:
df.dtypes

trip_distance    float64
RatecodeID       float64
total_amount     float64
dtype: object

In [14]:
df = df.sample(frac=0.5, random_state=1)
df

          trip_distance  RatecodeID  total_amount
37284054           1.40         1.0         11.30
25603386           0.93         1.0          9.80
35545849           0.47         1.0          8.76
20087918           1.30         1.0         12.30
1379797            0.70         1.0          6.95
...                 ...         ...           ...
17795979           1.50         1.0         14.75
8272394            0.43         1.0         10.56
35723154           5.80         1.0         24.80
32140772           0.69         1.0         11.00
34284129           8.90         1.0         49.92

[18689544 rows x 3 columns]

In [15]:
model1 = ols(formula="total_amount ~ trip_distance", data=df).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           total_amount   R-squared:                       0.866
Model:                            OLS   Adj. R-squared:                  0.866
Method:                 Least Squares   F-statistic:                 1.211e+08
Date:                Sun, 22 Aug 2021   Prob (F-statistic):               0.00
Time:                        11:00:22   Log-Likelihood:            -5.6181e+07
No. Observations:            18689544   AIC:                         1.124e+08
Df Residuals:                18689542   BIC:                         1.124e+08
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         8.8986      0.001   6184.823      0.000       8.896       8.901
trip_distance     3.3570      0.000    1.1e+04      0.000       3.356       3.358
==============================================================================
Omnibus:                 16965206.004   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1827251762.884
Skew:                           3.981   Prob(JB):                         0.00
Kurtosis:                      50.781   Cond. No.                         6.11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
model2 = ols(formula="total_amount ~ trip_distance + RatecodeID", data=df).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           total_amount   R-squared:                       0.872
Model:                            OLS   Adj. R-squared:                  0.872
Method:                 Least Squares   F-statistic:                 6.339e+07
Date:                Sun, 22 Aug 2021   Prob (F-statistic):               0.00
Time:                        11:03:50   Log-Likelihood:            -5.5812e+07
No. Observations:            18689544   AIC:                         1.116e+08
Df Residuals:                18689541   BIC:                         1.116e+08
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         5.2463      0.004   1181.620      0.000       5.238       5.255
trip_distance     3.2215      0.000   9549.828      0.000       3.221       3.222
RatecodeID        3.8915      0.004    867.547      0.000       3.883       3.900
==============================================================================
Omnibus:                 13337371.860   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        914931973.583
Skew:                           2.792   Prob(JB):                         0.00
Kurtosis:                      36.819   Cond. No.                         27.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
[model1.aic, model2.aic], [model1.bic, model2.bic]

([112362449.67587978, 111624573.43900755],
 [112362479.16282934, 111624617.6694319])